In [ ]:
# import required libraries
import pyodbc
import pandas as pd

In [ ]:
# create dictionary containing connection information to local postgresql db
config = dict(
    server = 'localhost',
    port = 5432,
    database = 'movie_db',
    username = 'postgres',
    password = 'postgres')

# create connection string to be fed into connect function
conn_str = (
    'SERVER={server},{port};' +
    'DATABASE={database};' +
    'UID={username};' +
    'PWD={password}')

# connect to our movie database using configuration string
conn = pyodbc.connect(
    r'DRIVER={PostgreSQL Unicode(x64)};' +
    conn_str.format(**config))

In [ ]:
# looking for moviews with christmas related keyword
# create empty dataframe with column headers defined
df_christmas = pd.DataFrame(columns = ['Title','Average Vote','Popularity','Tagline'])

# create a cursor and run query through the cursor
christmas_movies = conn.cursor()
christmas_movies.execute("SELECT DISTINCT m.title, m.average_vote, m.popularity, m.tagline FROM \
                movies m \
                JOIN movieids_kw mkw \
                ON m.movie_id = mkw.movie_id \
                JOIN keywords kw \
                ON mkw.keyword_id = kw.keyword_id \
                WHERE kw.keyword LIKE '%christmas%' \
                ORDER BY m.average_vote DESC, m.popularity DESC")

# loop through the cursor and add each query result to a dataframe
for entry in christmas_movies:
    list = [entry.title, entry.average_vote, entry.popularity, entry.tagline]
    df_christmas.loc[len(df_christmas)] = list

# display dataframe
df_christmas.head(10)

In [ ]:
# looking for harrison ford movies
# create empty dataframe with column headers defined
df_hford = pd.DataFrame(columns = ['Title','Average Vote','Popularity','Tagline'])

# create a cursor and run query through the cursor
h_ford_movies = conn.cursor()
h_ford_movies.execute("SELECT m.title, m.average_vote, m.popularity, m.tagline \
                        FROM movies m \
                        JOIN credits_actor ca ON m.movie_id = ca.movie_id \
                        JOIN actor a ON ca.actor_id = a.actor_id \
                        WHERE a.actor = 'Harrison Ford' \
                        ORDER BY m.average_vote DESC, m.popularity DESC")

# loop through the cursor and add each query result to a dataframe
for entry in h_ford_movies:
    list = [entry.title, entry.average_vote, entry.popularity, entry.tagline]
    df_hford.loc[len(df_hford)] = list

# display dataframe
df_hford.head(10)

In [ ]:
# looking for fantasy movies
# create empty dataframe with column headers defined
df_fantasy = pd.DataFrame(columns = ['Title','Average Vote','Popularity','Tagline'])

# create a cursor and run query through the cursor
fantasy_movies = conn.cursor()
fantasy_movies.execute("SELECT m.title, m.average_vote, m.popularity, m.tagline \
                        FROM movies m \
                        JOIN movieid_genre_ids mg ON m.movie_id = mg.movie_id \
                        JOIN emoji_genre eg ON mg.genre_id = eg.genre_id \
                        WHERE eg.genre = 'Fantasy' \
                        ORDER BY m.average_vote DESC, m.popularity DESC")

# loop through the cursor and add each query result to a dataframe
for entry in fantasy_movies:
    list = [entry.title, entry.average_vote, entry.popularity, entry.tagline]
    df_fantasy.loc[len(df_fantasy)] = list

# display dataframe
df_fantasy.head(10)

In [ ]:
# looking for fantasy movies
# create empty dataframe with column headers defined
df_bluhrmann = pd.DataFrame(columns = ['Title','Average Vote','Popularity','Tagline'])

# create a cursor and run query through the cursor
bluhrmann_movies = conn.cursor()
bluhrmann_movies.execute("SELECT DISTINCT m.title, m.average_vote, m.popularity, m.tagline \
                        FROM movies m \
                        JOIN movieid_director_id mdi ON m.movie_id = mdi.movie_id \
                        JOIN directors d ON mdi.director_id = d.director_id \
                        JOIN movieid_genre_ids mg ON m.movie_id = mg.movie_id \
                        WHERE d.director = 'Baz Luhrmann' \
                        ORDER BY m.average_vote DESC, m.popularity DESC")

# loop through the cursor and add each query result to a dataframe
for entry in bluhrmann_movies:
    list = [entry.title, entry.average_vote, entry.popularity, entry.tagline]
    df_bluhrmann.loc[len(df_bluhrmann)] = list

# display dataframe
df_bluhrmann.head(10)

In [ ]:
# looking for movies related to the ocean and outputting genre results with corresponding emojis
# create empty dataframe with column headers defined
df_ocean= pd.DataFrame(columns = ['Title','Average Vote','Popularity','Tagline'])
# create a cursor and run query through the cursor
ocean_movies = conn.cursor()
ocean_movies.execute("SELECT m.title, m.average_vote, m.popularity, STRING_AGG(concat (eg.genre, eg.genre_emoji), ', ') AS genres_with_emojis \
                        FROM movies m \
                        JOIN movieids_kw mk ON m.movie_id = mk.movie_id \
                        JOIN keywords k ON mk.keyword_id = k.keyword_id \
                        JOIN movieid_genre_ids mg ON m.movie_id = mg.movie_id \
                        JOIN emoji_genre eg ON mg.genre_id = eg.genre_id \
                        WHERE k.keyword = 'ocean' \
                        GROUP BY m.title, m.average_vote, popularity \
                        ORDER BY m.average_vote DESC, m.popularity DESC;")

# loop through the cursor and add each query result to a dataframe
for entry in ocean_movies:
    list = [entry.title, entry.average_vote, entry.popularity, entry.genres_with_emojis]
    df_ocean.loc[len(df_ocean)] = list

# display dataframe
df_ocean.head(10)

In [ ]:
conn.close()